In [1]:
# Data Analysis Phase
## MAin aim is to understand more about the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
## Display all the columns of the dataframe

pd.pandas.set_option('display.max_columns',None)

In [2]:
dataset=pd.read_csv('qh2-rcc121.csv', sep = ';')


## print shape of dataset with rows and columns
print(dataset.shape)

(9501, 23)

In [3]:
dataset.head()

,Id,Series,Time,CPU_Load,Power,Network_RX,Network_TX,Inlet_Temperature,CPU1_Temperature,CPU2_Temperature,Fan_speed1,Fan_speed2,Fan_speed3,Fan_speed4,Ram,Ram_Used,No_Of_Running_vms,CPU_cores,CPU_cores_used,Ambient_Temperature,Cooling_Power,Total_Power,CPU_Temp_Max
0,qh2-rcc1212018-10-0911:20:00,qh2-rcc121,2018-10-09 11:20:00,6.554000,102.133333,456376.541813,505758.417891,16.966667,42.200000,38.883333,7490.000000,7557.666667,7505.166667,7459.666667,515639.0,268854.0,13.0,64.0,62.0,59.166667,43.939828,146.073161,42.200000
1,qh2-rcc1212018-10-0911:30:00,qh2-rcc121,2018-10-09 11:30:00,9.175667,103.600000,99136.522135,591945.968912,17.000000,42.683333,39.316667,7130.666667,7182.000000,7150.500000,7093.333333,515639.0,268854.0,13.0,64.0,62.0,59.683333,44.570817,148.170817,42.683333
2,qh2-rcc1212018-10-0911:40:00,qh2-rcc121,2018-10-09 11:40:00,9.281333,104.000000,106103.118639,554419.616229,17.000000,43.733333,40.150000,6729.333333,6813.333333,6731.666667,6724.666667,515639.0,268854.0,13.0,64.0,62.0,60.733333,44.742906,148.742906,43.733333
3,qh2-rcc1212018-10-0911:50:00,qh2-rcc121,2018-10-09 11:50:00,5.705167,101.866667,539485.452655,636693.095061,17.000000,44.000000,40.050000,6773.666667,6853.000000,6772.500000,6765.500000,515639.0,268854.0,13.0,64.0,62.0,61.000000,43.825102,145.691769,44.000000
4,qh2-rcc1212018-10-0912:00:00,qh2-rcc121,2018-10-09 12:00:00,6.712667,103.200000,423417.660768,521630.794830,16.950000,42.633333,39.400000,7374.500000,7458.500000,7373.333333,7360.500000,515639.0,268854.0,13.0,64.0,62.0,59.583333,44.398729,147.598729,42.633333

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9501 entries, 0 to 9500
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   9501 non-null   object
 1   Series               9501 non-null   object
 2   Time                 9501 non-null   object
 3   CPU_Load             9501 non-null   float64
 4   Power                9501 non-null   float64
 5   Network_RX           9501 non-null   float64
 6   Network_TX           9501 non-null   float64
 7   Inlet_Temperature    9501 non-null   float64
 8   CPU1_Temperature     9501 non-null   float64
 9   CPU2_Temperature     9501 non-null   float64
 10  Fan_speed1           9501 non-null   float64
 11  Fan_speed2           9501 non-null   float64
 12  Fan_speed3           9501 non-null   float64
 13  Fan_speed4           9501 non-null   float64
 14  Ram                  9501 non-null   float64
 15  Ram_Used             9501 non-null   float64
 16  No_Of_Running_vms    9501 non-null   float64
 17  CPU_cores            9501 non-null   float64
 18  CPU_cores_used       9501 non-null   float64
 19  Ambient_Temperature  9501 non-null   float64
 20  Cooling_Power        9501 non-null   float64
 21  Total_Power          9501 non-null   float64
 22  CPU_Temp_Max         9501 non-null   float64
dtypes: float64(20), object(3)
memory usage: 1.7+ MB

In [5]:
dataset['Ram_Used']=dataset['Ram_Used']/dataset['Ram']
dataset['CPU_cores_used']=dataset['CPU_cores_used']/dataset['CPU_cores']

In [6]:
dataset= dataset.drop(['Ram','CPU_cores'], axis=1)

In [7]:
dataset.head()

,Id,Series,Time,CPU_Load,Power,Network_RX,Network_TX,Inlet_Temperature,CPU1_Temperature,CPU2_Temperature,Fan_speed1,Fan_speed2,Fan_speed3,Fan_speed4,Ram_Used,No_Of_Running_vms,CPU_cores_used,Ambient_Temperature,Cooling_Power,Total_Power,CPU_Temp_Max
0,qh2-rcc1212018-10-0911:20:00,qh2-rcc121,2018-10-09 11:20:00,6.554000,102.133333,456376.541813,505758.417891,16.966667,42.200000,38.883333,7490.000000,7557.666667,7505.166667,7459.666667,0.5214,13.0,0.96875,59.166667,43.939828,146.073161,42.200000
1,qh2-rcc1212018-10-0911:30:00,qh2-rcc121,2018-10-09 11:30:00,9.175667,103.600000,99136.522135,591945.968912,17.000000,42.683333,39.316667,7130.666667,7182.000000,7150.500000,7093.333333,0.5214,13.0,0.96875,59.683333,44.570817,148.170817,42.683333
2,qh2-rcc1212018-10-0911:40:00,qh2-rcc121,2018-10-09 11:40:00,9.281333,104.000000,106103.118639,554419.616229,17.000000,43.733333,40.150000,6729.333333,6813.333333,6731.666667,6724.666667,0.5214,13.0,0.96875,60.733333,44.742906,148.742906,43.733333
3,qh2-rcc1212018-10-0911:50:00,qh2-rcc121,2018-10-09 11:50:00,5.705167,101.866667,539485.452655,636693.095061,17.000000,44.000000,40.050000,6773.666667,6853.000000,6772.500000,6765.500000,0.5214,13.0,0.96875,61.000000,43.825102,145.691769,44.000000
4,qh2-rcc1212018-10-0912:00:00,qh2-rcc121,2018-10-09 12:00:00,6.712667,103.200000,423417.660768,521630.794830,16.950000,42.633333,39.400000,7374.500000,7458.500000,7373.333333,7360.500000,0.5214,13.0,0.96875,59.583333,44.398729,147.598729,42.633333

In [8]:
X_test = dataset[['Power', 'Inlet_Temperature', 'CPU2_Temperature', 'Fan_speed1',
       'Ram_Used', 'No_Of_Running_vms', 'CPU_cores_used']]

## Feature scalling

In [9]:
X_test

,Power,Inlet_Temperature,CPU2_Temperature,Fan_speed1,Ram_Used,No_Of_Running_vms,CPU_cores_used
0,102.133333,16.966667,38.883333,7490.000000,0.521400,13.0,0.96875
1,103.600000,17.000000,39.316667,7130.666667,0.521400,13.0,0.96875
2,104.000000,17.000000,40.150000,6729.333333,0.521400,13.0,0.96875
3,101.866667,17.000000,40.050000,6773.666667,0.521400,13.0,0.96875
4,103.200000,16.950000,39.400000,7374.500000,0.521400,13.0,0.96875
...,...,...,...,...,...,...,...
9496,267.466667,15.900000,58.566667,8860.833333,0.759329,9.0,0.90625
9497,273.555556,16.000000,57.944444,8843.333333,0.759329,9.0,0.90625
9498,157.500000,14.000000,45.729167,6356.875000,0.203557,3.0,0.28125
9499,152.266667,14.000000,45.433333,6258.000000,0.203557,3.0,0.28125
9500,168.571429,14.309524,45.571429,6378.333333,0.203557,3.0,0.28125

from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
X_scaler_train=pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
X_scaler_train.head()

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_scaler_test=pd.DataFrame(scaler.fit_transform(X_test),columns=X_test.columns)
X_scaler_test.head()

,Power,Inlet_Temperature,CPU2_Temperature,Fan_speed1,Ram_Used,No_Of_Running_vms,CPU_cores_used
0,0.019067,0.593333,0.085890,0.325323,0.637438,1.0,0.939394
1,0.024586,0.600000,0.099182,0.230437,0.637438,1.0,0.939394
2,0.026091,0.600000,0.124744,0.124461,0.637438,1.0,0.939394
3,0.018063,0.600000,0.121677,0.136168,0.637438,1.0,0.939394
4,0.023081,0.590000,0.101738,0.294824,0.637438,1.0,0.939394

In [11]:
X_scaler_test.to_csv('X_test2020.csv')

In [12]:
X_scaler_test.head()

,Power,Inlet_Temperature,CPU2_Temperature,Fan_speed1,Ram_Used,No_Of_Running_vms,CPU_cores_used
0,0.019067,0.593333,0.085890,0.325323,0.637438,1.0,0.939394
1,0.024586,0.600000,0.099182,0.230437,0.637438,1.0,0.939394
2,0.026091,0.600000,0.124744,0.124461,0.637438,1.0,0.939394
3,0.018063,0.600000,0.121677,0.136168,0.637438,1.0,0.939394
4,0.023081,0.590000,0.101738,0.294824,0.637438,1.0,0.939394

In [13]:
Y_test = dataset[['CPU_Load']]

In [14]:
Y_test.head()

   CPU_Load
0  6.554000
1  9.175667
2  9.281333
3  5.705167
4  6.712667

In [15]:
Y_test.to_csv('Y_test2020.csv')